<section class="vh-100 bg-image  backgroud-mage">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <main role="main">
                <div class="jumbotron jumbotron-fluid">
                    <h1 class="display-5">Fruit Company</h1>
                    <p class="lead">This is a fruit company assessment website, the website is developed by Yanelang Motloung</p>
                    <p>Fruit Company is a IT services company.<br> To learn more about fruit company please click on the button below</p>
                    <a class="btn btn-primary btn-lg" routerLink="#" role="link">Learn more</a>
                  </div>         
                <div class="container">
                  <div class="row">
                    <div class="col-md-5">
                      <h3>Create Account</h3>
                      <p>First time users must register by clicking the register button below, so they can get login credentials  </p>
                      <p><a class="btn btn-secondary" [routerLink]="['/registration']" role="button">Register &raquo;</a></p>
                    </div>
                    <div class="col-md-5">
                      <h3>User Login</h3>
                      <p>Before Login a user must have first created account, meaning a user must be a registered user</p>
                      <p><a class="btn btn-secondary" [routerLink]="['/login']"  role="button" >Login &raquo;</a></p>    
                   </div>
                    <div class="col-md-5">
                      <h3>Angular Code</h3>
                      <p>This frond end application is built using angular 10. To view the code repository please click on the button below</p>
                      <p><a class="btn btn-secondary" href="#" role="button">View gallery &raquo;</a></p>
                    </div>
                    <div class="col-md-5">
                        <h3>C# Code</h3>
                        <p>The back end application is built using C#. To view the code repository please click on the button below</p>
                        <p><a class="btn btn-secondary" href="#" role="button">View gallery &raquo;</a></p>
                    </div> 
                    </div>   
                  <hr>
                </div>
            </main>
          </div>
        </div>
      </div>
    </div>
  </section>