<!doctype html>
<html>
   <body>  
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>
          </li>  
          <li class="nav-item">
            <a [routerLink]="['/registration']" class="nav-link" ><span class="glyphicon glyphicon-user">Sign Up</span></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/login']" class="nav-link" ><span class="glyphicon glyphicon-user">Login</span></a>
          </li>       
        </ul>
      </div>
    </nav>
    <br><br><br>
   
    <div >
        <router-outlet></router-outlet>    
    </div>
    
   
  </body>
</html>
